# Node modules (serão instalados no container)
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Pastas de build
dist
coverage

# Uploads locais (se usares volume para persistir)
uploads

# Ficheiros de config locais
.env
.DS_Store

# Git
.git
.gitignore
